@model ApplicationTrackerApp.ViewModels.JobApplicationsViewModel

<style>
	.title-area {
		display: flex;
		justify-content: space-between;
	}

		.title-area a {
			height: fit-content;
			display: flex;
			align-self: flex-end;
		}

	.edit-delete {
		display: flex;
		justify-content: space-evenly;
	}

		.edit-delete a {
			min-width: 5em;
		}

	.clickable-row {
		cursor: pointer;
	}

	.clickable-row:hover {
		cursor: pointer;
		background-color: rgb(202, 179, 218, .5);
	}
</style>

<div class="title-area">
	<div>
		@if (Model?.FirstName != null)
		{
			<h6>Hello, @Model?.FirstName!</h6>
		}
		else
		{
			<h6>Hello!</h6>
		}

		<h2>Your Job Applications</h2>
	</div>

	<a class="btn btn-success mb-3" href="/JobApplications/Create">+ New Application</a>
</div>

<table class="table table-bordered">
	<thead class="table-dark">
		<tr>
			<th>Company</th>
			<th>Position</th>
			<th>Date Applied</th>
			@* <th></th> *@
		</tr>
	</thead>
	<tbody>
		@foreach (var app in Model?.Applications)
		{
			<tr class="clickable-row" onclick="window.location='/JobApplications/Edit/@app.Id'">
				<td>@app.Company</td>
				<td>@app.Position</td>
				<td>@app.DateApplied.ToShortDateString()</td>
				@* <td class="edit-delete">
					<a href="/JobApplications/Edit/@app.Id" class="btn btn-primary btn-sm px-3 mr-3">Edit</a>
					<a href="/JobApplications/Delete/@app.Id" class="btn btn-danger btn-sm px-3">Delete</a>
				</td> *@
			</tr>
		}
	</tbody>
</table>

<script>
	$(document).ready(function() {
		$(".clickable-row").click(function() {
			window.location = $(this).data("url");
		});
	});
</script>