@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Application Tracker</h1>
</div>
<div class="col-12 mt-4">
    <p class="col-10 col-md-8 col-lg-6 mx-auto">
        Keep track of every role you’ve applied to, including company names, positions, and dates,
        all in one secure place. With a clean interface and private login, you can easily stay on
        top of your job search without spreadsheets or clutter. Whether you're applying to your first
        internship or your next big career move, Application Tracker helps you stay organized and focused.
    </p>
    <p class="col-10 col-md-8 col-lg-6 mx-auto">
        This personal project is a work in progress...
    </p>
</div>