@{
    ViewData["Title"] = "Register";
}

<h2>Register</h2>

<form asp-action="Register" method="post">
	<input type="text" name="username" placeholder="Username" class="form-control" />
	<input type="password" name="password" placeholder="Password" class="form-control mt-2" />
	<button type="submit" class="btn btn mt-3">Register</button>
</form>